// font family

@mixin Public-sans-font {
    font-family: "Public Sans", sans-serif;
}

@mixin Poppins {
    font-family: "Poppins", sans-serif;
}

@mixin Open-sans {
    font-family: "Open Sans", sans-serif;
}

@mixin Roboto {
    font-family: "Roboto", sans-serif;
}

@mixin Inter {
    font-family: "Inter", sans-serif;
}

// breakpoints
@mixin breakpoint($breakpoint: md, $key: min, $orientation: false) {
    @if ($orientation) {
        @media (#{$key}-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @media (#{$key}-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

//display flex
@mixin display-flex($align-items, $justify-conntent) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-conntent;
}

// hidden visibility
@mixin visibility-hiddden($visibility, $opacity) {
    visibility: $visibility;
    opacity: $opacity;
}

//position absolute
@mixin pos-absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//hover
@mixin hover($color) {
    &:hover {
        span,
        a {
            color: $color;
        }
    }
}
